:root {
  --primary-bgcolor: #ffffff;
  --team-bgcolor: #f5f4fa;
  --main-dark-bgcolor: #2f303a;
  --accent-color: #2196f3;
  --buttons-bgcolor: #f5f4fa;
  --primary-text-color: #212121;
  --primary-letter-spacing: 0.03em;
  --secondary-text-color: #757575;
  --main-white-color: #ffffff;
  --icons-color: #afb1b8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: var(--primary-letter-spacing);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.list-item {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.main-container {
  background-color: var(--primary-bgcolor);
}

.heading {
  font-weight: 700;
}

.header {
  background-color: var(--primary-bgcolor);
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .header .container {
    height: 80px;
  }
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-color);
}

@media screen and (min-width: 480px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__lable--light {
  color: var(--primary-text-color);
}

.logo__lable--dark {
  color: var(--main-white-color);
}

.nav-section {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-section {
    display: inline-flex;
  }
}

.nav-section .link {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-section__list {
  display: flex;
  margin-left: 93px;
}

.nav-section__item {
  display: block;
  position: relative;
  padding: 32px 0;
}

.nav-section__item:not(:last-child) {
  margin-right: 50px;
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  margin-top: 28px;
  border-radius: 2px;
}

@media screen and (min-width: 1200px) {
  .current::after {
    bottom: -0.5px;
  }
}

.contact__svg {
  margin-right: 10px;
  fill: currentColor;
}

.header .contact-details {
  display: none;
}

@media screen and (min-width: 768px) {
  .header .contact-details {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: left;
  }
}

@media screen and (min-width: 1200px) {
  .header .contact-details {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contact__items:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__items:not(:last-child) {
    margin-bottom: 0px;
  }
}

.contact-details .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .contact__items + .contact__items {
    margin-left: 50px;
  }
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--animation);
}

.link:focus, .link:hover {
  color: var(--accent-color);
}

.footer {
  background-color: var(--main-dark-bgcolor);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
  }
}

.footer__heading {
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-white-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__heading {
  display: block;
}

.footer .link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    flex-direction: row;
  }
}

.footer__section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer__section {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__section {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .container__div {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .container__div {
    align-items: center;
  }
}

.sub-container {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .sub-container {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .sub-container {
    text-align: left;
  }
}

.footer .social-icons__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-icons__link:hover, .footer .social-icons__link:focus {
  background-color: var(--accent-color);
}

.footer .social-icons__svg {
  fill: var(--main-white-color);
}

@media screen and (min-width: 768px) {
  .footer-socials {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-left: 70px;
  }
}

.address {
  margin-top: 10px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__list {
  width: 231px;
}

.link__location {
  color: var(--main-white-color);
}

.footer .link,
.link__location {
  transition: color var(--animation);
}

.footer .link:hover, .footer .link:focus,
.link__location:hover,
.link__location:focus {
  color: var(--accent-color);
}

.subscription {
  display: flex;
  width: 305px;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .subscription {
    width: 450px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .subscription {
    width: 768px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    width: 570px;
    align-items: flex-end;
    margin-left: 93px;
    margin-top: 0px;
  }
}

.subscription__div {
  display: block;
}

.subscriprion__email-input {
  width: 290px;
  height: 50px;
  padding: 15px 16px;
  color: var(--main-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 20px;
  transition: border-color var(--animation), outline var(--animation);
}

@media screen and (min-width: 480px) {
  .subscriprion__email-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscriprion__email-input {
    width: 358px;
    margin-bottom: 0px;
  }
}

.subscriprion__email-input:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
}

.sub-container__div {
  margin-bottom: -60px;
}

@media screen and (min-width: 768px) {
  .sub-container__div {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .sub-container__div {
    display: flex;
    align-items: flex-end;
    height: 86px;
  }
}

.subscriprion__sign-btn {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  width: 200px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;
  margin-left: 12px;
}

.subscriprion__sign-svg {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.mobile-menu {
  position: fixed;
  top: 0px;
  left: 100%;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  z-index: 98;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  top: 0px;
  left: 0px;
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-menu__nav {
  display: block;
}

.mobile-menu__btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 99;
}

@media screen and (min-width: 768px) {
  .mobile-menu__btn {
    display: none;
  }
}

.mobile-menu__btn.is-open .menu-btn__icon-open {
  display: none;
}

.mobile-menu__btn:hover, .mobile-menu__btn:focus {
  fill: var(--accent-color);
}

.menu-btn__icon-close {
  display: none;
  top: 0;
}

.is-open .menu-btn__icon-close {
  display: block;
}

.menu-btn__icon {
  width: 24px;
  height: 16px;
}

.mobile-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-bottom: 35.7px;
}

.mobile-menu__item:hover,
.mobile-menu__item:focus {
  color: var(--accent-color);
  transition: color var(--animation);
}

.tel-link {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mail-link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 64px;
}

.mobile-menu__socials {
  display: flex;
  width: 357px;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.top-section {
  background-color: var(--main-dark-bgcolor);
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-phone.jpg);
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .top-section .top-section {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-phone@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .top-section {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .top-section .top-section {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .top-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .top-section .top-section {
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero@2x.jpg);
  }
}

.top-section__title {
  color: var(--main-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .top-section__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .top-section__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.top-section__button {
  background-color: var(--accent-color);
  color: var(--main-white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: block;
  border-width: 0px;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

.top-section__container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .top-section__container {
    width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .top-section__container {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .top-section__container {
    width: 696px;
  }
}

.features-section__list {
  display: flex;
  margin-left: -30px;
  flex-wrap: wrap;
}

.features-section__item {
  flex-basis: 100%;
  margin-left: 30px;
}

@media screen and (min-width: 768px) {
  .features-section__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features-section__item {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.features-section__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .features-section__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.features-section__heading {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .features-section__heading {
    text-align: left;
  }
}

.features-section__paragraph {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.features-section__icon-div {
  display: flex;
  width: 100%;
  height: 120px;
  background-color: var(--team-bgcolor);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features-section__icon {
  width: 70px;
  height: 70px;
  background-color: var(--team-bgcolor);
}

.activities-section__heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.activities-section__list {
  display: flex;
}

.activities-section__item:not(:first-child) {
  margin-left: 30px;
}

.activities-section__thumb {
  position: relative;
}

.activities-section__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 11.14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.activities-section__name-div {
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

@media screen and (min-width: 320px) {
  .activities-section {
    display: none;
  }
}

@media screen and (min-width: 320px) and (min-width: 1200px) {
  .activities-section {
    display: block;
  }
}

.team-section {
  background-color: var(--team-bgcolor);
}

.team-section__heading {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-section__heading {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.team-section__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(30px * -1);
  margin-left: calc(30px * -1);
}

.team-section__member {
  margin-top: 30px;
  margin-left: 30px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .team-section__member {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-section__member {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team-section__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-section__description {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team-section__description {
    padding-bottom: 30px;
  }
}

.team-section__paragraph {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-section__member:not(:first-child) {
  margin-left: 30px;
}

.team-section__images-item {
  border-width: 0px;
  border-color: transparent;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .team-section__images-item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.social-icons {
  display: inline-flex;
}

.social-icons__svg {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);
  transition: fill var(--animation);
}

.social-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--animation);
}

.social-icons__link:hover, .social-icons__link:focus {
  background-color: var(--accent-color);
}

.social-icons__link:hover .social-icons__svg, .social-icons__link:focus .social-icons__svg {
  fill: var(--main-white-color);
}

.social-icons__item:not(:first-child) {
  margin-left: 10px;
}

.clients-section__heading {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .clients-section__heading {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-section__heading {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients-section__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-section__item {
  flex-basis: 100%;
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 480px) {
  .clients-section__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients-section__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-section__item {
    flex-basis: calc((100% - 180px) / 6);
    margin-left: 30px;
  }
}

.clients-section__logo {
  fill: var(--icons-color);
  width: 106px;
  height: 60px;
  transition: fill var(--animation);
}

.clients-section__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition: border-color var(--animation), color var(--animation);
}

.clients-section__link:hover, .clients-section__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-section__link:hover .clients-section__logo, .clients-section__link:focus .clients-section__logo {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 450px;
  height: 609px;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.close-button__cross {
  width: 18px;
  height: 18px;
  transition: fill var(--animation);
}

.close-button__cross:focus, .close-button__cross:hover {
  fill: var(--accent-color);
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
}

.modal__heading {
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  color: var(--primary-text-color);
}

.modal__form-field {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.modal__form-field .modal__label {
  margin-bottom: 4px;
}

.modal__form-field .modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 40px;
  height: 40px;
}

.modal__comment-area {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  height: 120px;
}

.modal__comment-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__icon {
  width: 18px;
  height: 18px;
  fill: var(--primary-text-color);
  position: absolute;
  top: 27px;
  left: 11px;
  transition: fill var(--animation);
}

.comment {
  margin-bottom: 20px;
}

.modal__form-checkbox {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 0 !important;
  width: 0 !important;
  overflow: hidden;
}

.policy-link {
  color: var(--accent-color);
  margin-left: 2px;
}

.modal__checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: var(--primary-letter-spacing);
}

@media screen and (min-width: 1200px) {
  .modal__checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8.38px;
}

.modal__checkbox:checked + .modal__checkbox-label::before {
  background-image: url(../images/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__submit-btn {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
}

.modal__input:focus ~ .modal__icon {
  fill: var(--accent-color);
}

.modal__input {
  transition: border-color var(--animation), outline var(--animation), box-shadow var(--animation);
}

.modal__input:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal__comment-area {
  transition: border-color var(--animation), outline var(--animation), box-shadow var(--animation);
}

.modal__comment-area:focus {
  border-color: var(--accent-color);
  outline: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.close-button,
.modal__submit-btn {
  cursor: pointer;
}

.portfolio .section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-flex {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-flex {
    margin-bottom: 50px;
  }
}

.filter-flex__item + .filter-flex__item {
  margin-left: 8px;
}

.filter-flex__button {
  background-color: var(--buttons-bgcolor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  padding: 6px 22px;
  border-width: 0px;
  border-color: transparent;
  border-radius: 4px;
  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);
}

.filter-flex__button:hover, .filter-flex__button:focus {
  background-color: var(--accent-color);
  color: var(--main-white-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .filter-flex__button {
    margin-bottom: 0px;
  }
}

.filter-flex__item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .filter-flex__item:nth-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.filter-flex__item:nth-last-child(2) {
  margin-left: 0px;
}

@media screen and (min-width: 768px) {
  .filter-flex__item:nth-last-child(2) {
    margin-left: 8px;
  }
}

.portfolio-flex {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.portfolio-flex__img-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-flex__img-name {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio-flex__img {
  max-width: 100%;
  display: block;
}

.portfolio-flex__heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-flex__paragraph {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.hiden-heading {
  display: none;
}

.overlay {
  position: absolute;
  background-color: rgba(33, 149, 243, 0.9);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  color: var(--main-white-color);
  font-size: 18px;
  line-height: 1.56;
  overflow: hidden;
  transform: translateY(100%);
  transition: transform var(--animation);
}

.portfolio-flex__link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.portfolio-flex__link:hover .overlay,
.portfolio-flex__link:focus .overlay {
  transform: translateY(0);
}

.portfolio-flex__img-item {
  background-color: var(--primary-bgcolor);
  margin-left: 30px;
  margin-bottom: 30px;
  transition: box-shadow var(--animation);
}

.portfolio-flex__img-item:focus, .portfolio-flex__img-item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .portfolio-flex__item {
    flex-basis: calc((100%) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-flex__item {
    flex-basis: calc((100%) / 3);
  }
}
/*# sourceMappingURL=main.css.map */