.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity var(--animation);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  width: 450px;
  height: 609px;
  background-color: #fff;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.close-button__cross {
  width: 18px;
  height: 18px;

  transition: fill var(--animation);

  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
}

.modal__heading {
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;

  color: var(--primary-text-color);
}
.modal__form-field {
  display: flex;
  flex-direction: column;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--secondary-text-color);
}
.modal__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  position: relative;
}
.modal__form-field .modal__label {
  margin-bottom: 4px;
}
.modal__form-field .modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 40px;
  height: 40px;
}
.modal__comment-area {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;

  resize: none;
  height: 120px;
}

.modal__comment-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__icon {
  width: 18px;
  height: 18px;

  fill: var(--primary-text-color);
  position: absolute;
  top: 27px;
  left: 11px;

  transition: fill var(--animation);
}
.comment {
  margin-bottom: 20px;
}
.modal__form-checkbox {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 0 !important;
  width: 0 !important;
  overflow: hidden;
}
.policy-link {
  color: var(--accent-color);
  margin-left: 2px;
}
.modal__checkbox-label {
  display: flex;
  align-items: center;

  margin-bottom: 30px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: var(--primary-letter-spacing);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal__checkbox-label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  margin-right: 8.38px;
}
.modal__checkbox:checked + .modal__checkbox-label::before {
  background-image: url(../images/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__submit-btn {
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: var(--main-white-color);

  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;

  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
}
.modal__input:focus ~ .modal__icon {
  fill: var(--accent-color);
}

.modal__input {
  transition: border-color var(--animation), outline var(--animation), box-shadow var(--animation);

  &:focus {
    border-color: var(--accent-color);
    outline: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}

.modal__comment-area {
  transition: border-color var(--animation), outline var(--animation), box-shadow var(--animation);

  &:focus {
    border-color: var(--accent-color);
    outline: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
.close-button,
.modal__submit-btn {
  cursor: pointer;
}
