.team-section {
  background-color: var(--team-bgcolor);

  &__heading {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 36px;

      margin-bottom: 50px;
    }
  }
}
.team-section__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(30px * -1);
  margin-left: calc(30px * -1);
}

.team-section__member {
  // flex-basis: calc((100% - 120px) / 4);
  margin-top: 30px;
  margin-left: 30px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.team-section__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 10px;
}

.team-section__description {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}
.team-section__paragraph {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 16px;
}
.team-section__member:not(:first-child) {
  margin-left: 30px;
}
.team-section__images-item {
  border-width: 0px;
  border-color: transparent;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.social-icons {
  display: inline-flex;
}
.social-icons__svg {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);

  transition: fill var(--animation);
}

.social-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);

    .social-icons__svg {
      fill: var(--main-white-color);
    }
  }
}

.social-icons__item:not(:first-child) {
  margin-left: 10px;
}
