.contact__svg {
  margin-right: 10px;
  fill: currentColor;
}

.header .contact-details {
  display: flex;
  margin-left: auto;
}

.contact-details .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
}

.contact__items + .contact__items {
  margin-left: 50px;
}
