.filter-flex {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}
.filter-flex__item + .filter-flex__item {
  margin-left: 8px;
}
.filter-flex__button {
  background-color: var(--buttons-bgcolor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  font-family: inherit;

  padding: 6px 22px;
  border-width: 0px;
  border-color: transparent;
  border-radius: 4px;

  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-white-color);

    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
      0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}
