.portfolio .section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.filter-flex__item + .filter-flex__item {
  margin-left: 8px;
}
.filter-flex__button {
  background-color: var(--buttons-bgcolor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  font-family: inherit;

  padding: 6px 22px;
  border-width: 0px;
  border-color: transparent;
  border-radius: 4px;
  margin-bottom: 15px;

  transition: background-color var(--animation), color var(--animation), box-shadow var(--animation);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--main-white-color);

    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
      0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.filter-flex__item:nth-last-child(2) {
  margin-left: 0px;

  @media screen and (min-width: 768px) {
    margin-left: 8px;
  }
}
