.portfolio-flex {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-bottom: -30px;

  &__img-thumb {
    position: relative;
    overflow: hidden;
  }

  &__img-name {
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;

    padding: 20px 24px;
  }
  &__img {
    max-width: 100%;
  }

  &__heading {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
  }

  &__paragraph {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.87;
  }
}
.hiden-heading {
  display: none;
}

.overlay {
  position: absolute;
  background-color: rgba(33, 149, 243, 0.9);

  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  color: var(--main-white-color);
  font-size: 18px;
  line-height: 1.56;

  overflow: hidden;
  transform: translateY(100%);
  transition: transform var(--animation);
}
.portfolio-flex__link {
  display: block;
  text-decoration: none;
  color: inherit;

  &:hover .overlay,
  &:focus .overlay {
    transform: translateY(0);
  }
}

.portfolio-flex__img-item {
  background-color: var(--primary-bgcolor);
  margin-left: 30px;
  margin-bottom: 30px;
  transition: box-shadow var(--animation);

  &:focus,
  &:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
      0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
}
.portfolio-flex__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100%) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100%) / 3);
  }
}
